body{
    background-color: beige;
}

.title{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 50px;
    color: gray;
    font-family: 'Stylish', sans-serif;

}
.happy{
    color: lightpink;
}
.image>img{
    margin-left: 10px;
    width: 250px;
    height: 250px;
    border: 5px;
    border-style: solid;
    border-color: rgb(217, 214, 214);
    transition: all 0.3s ease-in-out;

}
.image{
    margin-top: 50px;
    margin-left: 50px;
}
img:hover{
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
}
.image>p{
    font-size: 30px;
    font-family: 'Stylish', sans-serif;
}